<h1 mat-dialog-title>{{title}}</h1>
<form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
    <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-around stretch">

        <!--Linha 1-->
        <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-form-field fxFlex="60">
                <input matInput type="text" formControlName="title" autocomplete="title" placeholder="Titulo">
            </mat-form-field>
    
            <mat-form-field fxFlex="30">
                <input matInput type="number" formControlName="price" autocomplete="price" placeholder="Preço">
            </mat-form-field>
        </div>

        <!--Linha 2-->
        <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-form-field fxFlex="100">
                <input matInput type="text" formControlName="description" autocomplete="description" placeholder="Descrição">
            </mat-form-field>
        </div>

        <!--Linha 3-->
        <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-form-field fxFlex="100">
                <input matInput type="text" formControlName="imageUrl" autocomplete="imageUrl" placeholder="Url Imagem">
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="end end">
            <button mat-button color="primary" type="submit" [disabled]="!formRegister.valid">
                <mat-icon>done</mat-icon>&nbsp;Salvar
            </button>
        </div>
    </div>
</form>
<div fxLayout="row" fxLayoutAlign="end end">
    <button mat-button color="warn" (click)="cancelar()">Cancel</button>
</div>